![Hello!](https://github.com/jennherrarte/JennHerrarte/assets/36706323/4fb4b3d6-1bdc-4200-ab7d-f37dbcedbaf9)
## 🚀 About Me 
Hello! 👋🏽 My name is Jenn, and I am a passionate Software Engineer dedicated to making the world a more just and equitable place through the creation of beautiful, intuitive, and impactful software solutions. With a strong focus on modern web development and user experience, I believe in harnessing the power of empathy to build applications that truly resonate with users.

My journey into the world of software engineering is a testament to my adaptability and determination. I started my career in marketing, where I honed my skills in understanding user behavior 👤, crafting compelling messaging 💬, and driving engagement 📈. This background has proven to be an invaluable asset in my transition to software engineering. It enables me to not only create technically robust solutions but also to ensure they meet the needs and expectations of end-users.

I've had the privilege of working with clients such as DreamWorks 🍿, Netflix 🎥 , and the City of Santa Monica 🌊. I successfully revamped and maintained their websites, combining my marketing expertise with software engineering to deliver exceptional digital experiences that captivate and engage their audiences.

Let's connect and work together towards a brighter and more inclusive digital future! ✨
```
const Jenn = {
    pronouns: ["She", "Her"],
    skills: {
        languages: ["TypeScript", "JavaScript", "HTML", "CSS", "SQL", "PHP"],
        frameworks: ["React.js", "Vue.js", "Express", "Sass", "Tailwind", "Boostrap", "Ember.js", "Laravel"],
        technologies: ["Node.js", "Heroku", "Docker", "Jest", "Playwright", "Sequelize", "MongoDB", "Mongoose", "Storybook"],
    },
    askMeAbout: ["web dev", "tech", "running", "my dog Scout"],
    funFact: "I run a technical book club for Techqueria, a nonprofit that serves the largest global community of Latinx professionals in the tech industry.",
    currentlyReading: "Designing Data-Intensive Applications by Martin Kleppmann"
};
```

## 💡 Projects

You'll find a variety of projects in my GitHub repositories. Some are from my earlier days of coding, but my most recent work can be found [here](https://drive.google.com/file/d/1UKWPcINUmB3KSBhgOP23bIY0oGnXIXR4/view?usp=sharing). Please note, my older projects may not reflect my current skill level. 

I believe in continuous improvement, and I'm always striving to level up my coding abilities. Feel free to explore my repositories, open issues, and contribute to any projects that catch your eye. 

## ✉️ Connect With Me
[![image](https://img.shields.io/badge/Resume-18A303?style=for-the-badge&logo=LibreOffice&logoColor=white)](https://drive.google.com/file/d/1YUn3vHo4LEkMSJhq9qur5R-Hddp0ZzRH/view?usp=sharing)
[![image](https://img.shields.io/badge/Gmail-D14836?style=for-the-badge&logo=gmail&logoColor=white)](mailto:jennherrarte93@gmail.com?subject=Hello!)
[![image](https://img.shields.io/badge/dev.to-0A0A0A?style=for-the-badge&logo=devdotto&logoColor=white)](https://dev.to/jennherrarte)
[![image](https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white)](https://www.linkedin.com/in/jenniferherrarte/)

## 👩🏽‍💻 Check Out Some Of My Recent Posts From Dev.to!

{{ template "article-table" .Articles }}
